:root {
  --main-color: rgb(179, 114, 229);
  --second-color: rgb(16, 16, 71);
  --accent-color: rgb(158, 17, 146);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
div {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--main-color);
}
.contact-list {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact {
  background-color: var(--main-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 10px;
}
.contact:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.contact:first-child {
  margin-right: 10px;
}
.cont-items {
  display: flex;
  flex: 1;
  color: aliceblue;
  font-weight: 700;
}
.refs {
  cursor: pointer;
}
.refs:visited {
  color: rgb(241, 14, 116);
}
.text-about {
  padding: 10px;
}
/* contact
 */

.list {
  text-align: center;
  flex-direction: column;
  font-size: 15px;
  color: var(--main-color);
  font-weight: 700;
}
span {
  margin-right: 10px;
}
.list-refs {
  font-weight: 500;
}
/* about */
.heading {
  color: var(--accent-color);
  text-align: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}
.text-about {
  text-align: center;
}
h3 {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .row {
    margin-bottom: 30px;
  }
  .button {
    font-size: 10px;
  }
}
